<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
新增课程
<form enctype="multipart/form-data" method="post"
      action="/Course/newCourse"
      th:object="${newCourse}">
    文件：
    <input type="file" name="courseImg"/><br>
    Name
    <input type="text" name="courseName"><br>
    TopicName
    <input type="text" name="courseTopicName"><br>
    DepartName
    <input type="text" name="courseDepartName"><br>
    Period
    <input type="text" name="coursePeriod"><br>
    Credit
    <input type="text" name="courseCredit"><br>
    StartTime
    <input type="text" name="courseStartTime"><br>
    Level
    <input type="text" name="courseLevel"><br>
    Type
    <input type="text" name="courseType"><br>
    <button type="submit">上传</button><br>
</form>
修改课程全部信息
<form enctype="multipart/form-data" method="post"
      action="/Course/modifyCourse"
      th:object="${newCourse}">
    文件：
    <input type="file" name="courseImg"/><br>
    Id:
    <input type="text" name="courseId"><br>
    Name
    <input type="text" name="courseName"><br>
    TopicName
    <input type="text" name="courseTopicName"><br>
    DepartName
    <input type="text" name="courseDepartName"><br>
    Period
    <input type="text" name="coursePeriod"><br>
    Credit
    <input type="text" name="courseCredit"><br>
    StartTime
    <input type="text" name="courseStartTime"><br>
    Level
    <input type="text" name="courseLevel"><br>
    Type
    <input type="text" name="courseType"><br>
    Description
    <input type="text" name="courseDescription"><br>
    FAQ
    <input type="text" name="courseFAQ"><br>
    GradingPolicy
    <input type="text" name="courseGradingPolicy"><br>
    Requirement
    <input type="text" name="courseRequirement"><br>
    <button type="submit">上传</button><br>
</form>
修改课程部分信息
<form enctype="multipart/form-data" method="post"
      action="/Course/modifyCourseInfo"
      th:object="${courseInfo}">
    Id:
    <input type="text" name="courseId"><br>
    Description
    <input type="text" name="courseDescription"><br>
    FAQ
    <input type="text" name="courseFAQ"><br>
    GradingPolicy
    <input type="text" name="courseGradingPolicy"><br>
    Requirement
    <input type="text" name="courseRequirement"><br>
    <button type="submit">上传</button><br>
</form>

</body>
</html>