<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/reset-password.css">

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div id="highlighted" class="hl-basic hidden-xs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-5 col-md-9 col-md-offset-5 col-lg-10 col-lg-offset-5">
                <h1>
                    重置密码
                </h1>
            </div>
        </div>
    </div>
</div>

<div id="content" class="interior-page">
    <div class="container-fluid">
        <div class="row">
            <!--Content-->
            <div class="col-sm-9 col-md-9 col-lg-10 content equal-height col-lg-offset-4">
                <div class="content-area-right">
                    <div class="row">
                        <div class="col-md-5 forgot-form">
                            <p>
                                请在下面输入你的新密码.
                            </p>
                            <label class="label-default" for="newPassword">新密码：</label>
                            <input id="newPassword" name="newPassword" class="form-control" type="password"><br>

                            <label class="label-default" for="newPassword2">验证新密码：</label>
                            <input id="newPassword2" name="newPassword2" class="form-control" type="password"><br>

                            <a id="mybad" class="btn btn-primary" role="button" onclick="passwordSubmit()">RESET</a>
                        </div>
                        <div class="col-md-5 forgot-return" style="display:none;">
                            <h3>
                                Reset Password Sent
                            </h3>
                            <p>
                                An email has been sent to your address with a reset password you can use to access your account.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function passwordSubmit() {
        var password1 = document.getElementById("newPassword").value;
        var password2 = document.getElementById("newPassword2").value;
        if (password1 != password2) {
            alert("两次输入的密码不相同！");
        }  else {
            $.post("/User/resetPassword", { newPassword: password1},
                function (data) {
                    if (data == true) {
                        alert("修改成功");
                       $.get("/User/login");
                    } else {
                        alert("修改失败");
                    }
                }
            );
        }
    }

</script>

</body>

</html>